// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  //background-image:url("./loginback.jpg");
  background-color:#F0F8FF;
  text-align: center
}
h2{
  color: #FA8072
  
}
table {
 margin-left: auto;
 margin-right: auto;
}