// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  //background-image:url("./loginback.jpg");
    background-color:#F0F8FF;
}

h1{
  color: #da70d6;
}
th{
  color: #696969;
}
